.top_menu{
    /* position: fixed; */
    /* z-index: 9; */
    display: inline-block;
    margin-top: 10px;
    
    border-bottom: 5px double rgb(250, 250, 250);
    width: 100%;
    top: 0;

    
}
.ul_li i{
    font-size: 20px;
}
.cen_text {
    /* margin-left: 40px; */
    margin-right:40px ;
    padding: 0 20px 0 20px;
    

}
.block_icon:hover i{
  -moz-transform: rotate(720deg); 
  -webkit-transform: rotate(720deg); 
  -o-transform: rotate(720deg); 
  -ms-transform: rotate(720deg); 
  transform: rotate(720deg);
}
.block_icon i{
  width:32px;
  height:32px;
  margin-right:5px;
  -moz-transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out; 
  -o-transition: all 1.5s ease-in-out; 
  -ms-transition: all 1.5s ease-in-out; 
  transition: all 1.5s ease-in-out; 
}




.back_img{
  background: linear-gradient(to bottom, #4bb8c0, #d8b147);

    
}

.container {
    width: 1200px;
    margin: 0 auto;
}


.ul_li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;

}

.ul_li  li{
    margin: 15px 10px;

}
.ul_li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;

 
}
.bg-sr {
  background: #55b8b7;
  height: 33px;
  display: inline-block;
  /* text-align: center; */
  line-height: 2;
  border-radius: 5px;
  padding: 2px;
}
.top_menu >.ul_li > li:hover .bg-sr{
  color: rgb(12, 11, 11);
  background-color: white;

  
}
.bg_orange {
  background: #ffcc33;
}
.bg_green {
  background: #3bb441;
}
.bg_blue {
  background: #0d0c61;
}
.bg_red {
  background: #e42910;
}
.center_main {
    margin-top: 149px;
    text-align: center;
    color: white;
}
.btn-outline-secondary {

    width: 180px;
    
}
.btn.btn-outline-secondary {
    border-color: white;
    transition: 0.5s;
    margin-top: 40px;
    margin-bottom: 220px;
}
.btn.btn-outline-secondary:hover {
    border-color: rgb(160 ,160 ,156, 0.5);
    background: rgb(220 220 217 / 50%);
}
.cen_text{
  color: white;
}
.center_text1 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Pacifico';
}
.center_text2 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Pacifico';
  font-size: 77px;
}
.center_text:nth-child(2){
    font-style: italic;
}
.nijnee_menu{
    margin-top: 30px;
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 60px;
}

.new_arr{
    font-size: 35px;
    font-style: italic;
    font-family: 'Pacifico';
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.new_arr:before,
.new_arr:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 25%;
  height: 2px;
  vertical-align:middle;
  background: black;
}
.new_arr:before {
  left: -20px;
  margin-left: -20%;
}
.new_arr:after {
  left: 20px;
  margin-right: -20%;
}
.new_arr i {
  color: rgb(238, 195, 185);
}
.list_product {
    display: inline-block;
    justify-content: space-evenly;
    
}
.list_product > .product {
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
}
.product {
  display: inline-block;
  min-height: 316px;
  cursor: pointer;
  /* margin-right: 9px;
  margin-left: 15px;
  margin-top: 30px; */
}
.product img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    object-fit: contain;
}
.button1 {
    margin-top: 7px;
    width: 100%;
    color: white;
    background-color: #242a35;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.bg_orange{
    background-color: orange;
}
.title a{
    font-size: 23px;
    /* font-weight: bold; */
    font-family: 'Lobster';
    color:#0d0c61;
    text-decoration: none;
    font-style: italic;
}
.desc_img {
  position: absolute;
  left: 39px;
  bottom: 0;
  background: #ffffffb5;
  width: 172px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: .5s
}
.desc{
    width: 80%;
    text-align: center;
}
.product:hover .desc_img{
    opacity: 1;
}
.img {
    position: relative;
}
.title1{
    margin-top: 8px;
}
.price {
    display: inline-block;
    width: 80%;
    margin-top: -5px;
}
.price span {
    font-size: 18px;
    font-weight: bold;
    color: #4c4b6c;
    font-family: 'Oswald', sans-serif;

}
.button1:hover {
    background-color: #778590;
}

.bottom_main{
    padding: 120px;
    text-align: center;
    margin-top: 60px;

   
}
.main_text{
    font-style: italic;
    font-family: 'Oswald', sans-serif;
    /* color: #4c4b6c; */
    color: white;
}
.back_main{
    background-color: #41475a;
}
.footer__s {
  /* text-align: center; */
  padding: 50px;
  background: #f8f8f8;
  border-bottom: 5px double gray;

}
.footer__list{
  list-style: none;
  padding-left: 0;
  padding-top: 60px;

}

.footer__s a {
  text-decoration: none;
  color: #323e55;
  font-size: 17px;
  transition: 0.5s;
}

.footer__s a:hover{
  border-bottom:1px solid black;
  margin-left: 10px;
  font-weight: bold;
  color: rgb(29, 116, 246);
}
.footer_title {
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
}
.footer_title{
  border-bottom: 2px solid #242a35;
}
.br-bt{
  border-bottom: none;
}
.footer__s i {
    font-size: 25px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: rgb(59 69 105);
}
.col.order-first > ul {
  padding-top: 25px;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer_bottom a {
  text-decoration: none;
  color: gray;
  margin-left: 5px;
  transition: 0.5s;
}
.footer_bottom a:hover{
  color: #4092be;
}
.footer_center{
  padding-bottom: 10px;
}
.btn.btn-dark {
  height: 40px;
  border-radius:0 ;
  margin-left: 20px;
  float: right;
  margin-top:5px;
  transition: 0.5s;
}
.btn.btn-dark:hover{
  background-color:rgb(179, 179, 179);
  color: #f6f6f6;
}
.input_footer {
  width: 500px;
  height: 43px;
}

.search_btn {
  position: relative;
  top: -10px;
  left: 15px;
}
.search_box{
  display: flex;
  position: relative;
  background-color:white ;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}
.search_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.search_txt{
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  width: 210px;
}

.main_top{
  background-color:rgb(238, 238, 238);
  padding: 20px;
  margin-bottom: 60px;

}

.fixed{
  position: fixed;
  z-index: 3;
}
.main_filter{
    float: right;
}
#msg{
  display: none;
  position: absolute;
  background: white;
  border: 1px solid rgb(224, 224, 224);
  width: 244px;
  top: 64px;
  left: -207px;
  z-index: 2;
  text-align: center;
  padding: 0;
}
.ul_list{
  padding-left: 0;
}
.shopcard_total{
  display: flex;
  justify-content: space-between;
  border-top:1px solid #dcd8d8;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.btn_call2 {
  border: none;
  background: #4eb8bd;
  color: white;
  padding: 5px 21px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn_call2:hover {
  background:#0a9bda ;
  box-shadow:0 0 14px #4ebeee;
}
.posit{
  position: relative;
}

#close_btn {
  background-color: red;
  color: white;
  border: 0;
  width: 30px;
  height: 20px;
  border-radius: 10px;
}


.myslider {
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  .slider {
    max-width: 800px
    ;
  }

  /* дополнительные стили для этого примера */
  .slider__items {
    counter-reset: slide;
  }

  .slider__item {
    height: 320px;
    overflow: hidden;
    position: relative;
    counter-increment: slide;
  }

  /* .slider__item::after {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
  } */

  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }

  .slider__item:nth-child(1) {
    background: linear-gradient(45deg, #4092be 10%, #b7f1ea 90%);
  }

  .slider__item:nth-child(2) {
    background: linear-gradient(to right, #e6a1a1, #f3adad);
  }

  .slider__item:nth-child(3) {
    background: linear-gradient(to right, #425da8, #d36183);
  }

  /* .slider__item:nth-child(4) {
    background: linear-gradient(to right, #243B55, #9e3737);
  } */

  .slider__item {
    height: 320px;
    overflow: hidden;
    position: relative;
  }

  .slider__item_inner {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 36px;
    bottom: 36px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .slider__item_img {
    flex: 0 0 100px;
    max-width: 100px;

  }

  .slider__item_testimonial {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .slider__item_name {
    font-size: 20px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 23px;
    font-weight: bold;
    font-family: 'Lobster';
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
  }

  .slider__item_post {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.8);
    display: none;
    font-style: italic;
  }

  .slider__item_text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
    display: none;
  }

  @media (min-width: 576px) {
    .slider__item {
      height: 310px;
    }

    .slider__item_inner {
      flex-direction: row;
    }

    .slider__item_testimonial {
      margin-left: 15px;
    }

    .slider__item_img {
      flex: 0 0 150px;
      max-width: 150px;
      height: 200px;
    }

    .slider__item_testimonial {
      text-align: left;
    }

    .slider__item_post,
    .slider__item_text {
      display: block;
    }
  }

  .btn {
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }

  .btn:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .5);
  }
    
.slider{position:relative;overflow:hidden;max-width:1300px;margin-left:auto;margin-right:auto}.slider__wrapper{position:relative;overflow:hidden;background-color:#eee}.slider__items{display:flex;transition:transform .5s ease}.transition-none{transition:none}.slider__item{flex:0 0 100%;max-width:100%;position:relative}.slider__control{position:absolute;top:50%;width:40px;height:50px;transform:translateY(-50%);display:none;align-items:center;justify-content:center;color:#fff;background:rgba(0,0,0,.3);opacity:.5;user-select:none}.slider__control_show{display:flex}.slider__control:focus,.slider__control:hover{color:#fff;text-decoration:none;opacity:.7}.slider__control_prev{left:0}.slider__control_next{right:0}.slider__control::before{content:'';display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}.slider__control_prev::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}.slider__control_next::before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}.slider__indicators{position:absolute;left:0;right:0;bottom:10px;display:flex;justify-content:center;padding-left:0;margin:0 15%;list-style:none;user-select:none}.slider__indicator{flex:0 1 auto;width:30px;height:4px;margin-right:3px;margin-left:3px;background-color:rgba(255,255,255,.5);background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;cursor:pointer}.slider__indicator_active{background-color:#fff};


